<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Poems for life</title>
    <link rel="stylesheet" href="../static/login.css" />
    <link rel="stylesheet" href="../static/header.css" />
    <link rel="stylesheet" href="../static/all.css" />
  </head>
  <body>
    <header id="main-header">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <h1>Login</h1>
      <form method="POST">
        <input name="email" type="email" placeholder="Email" required />
        <input
          name="password"
          type="password"
          placeholder="Password"
          required
        />
        <button type="submit">Login</button>
      </form>
      <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
  </body>
</html>
