* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  background: linear-gradient(135deg, #ffafcc 0%, #cdb4db 50%, #bde0fe 100%);
  min-height: 100vh;
  padding: 20px;
  background-attachment: fixed;
}
