#main-header {
  text-align: center;
  margin-bottom: 40px;
  padding: 15px 30px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 20px;
  z-index: 1000;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

/* #main-header:hover {
  background-color: #764ba2;
  color: white;
} */

#main-header p {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  padding: 8px 16px;
  border-radius: 5px;
  width: 20em;
}

#main-header p span {
  color: #655560;
}

nav {
  /* background: rgba(255, 255, 255, 0.1); */

  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 5px;
}
header nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  padding: 8px 16px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header nav ul li a:hover {
  background-color: #c49bdb;
  color: white;
}

header.hidden {
  /* transform: scale(0); */
  transform: translateY(-150%);
}
