.container {
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.3);
  width: fit-content;
  margin: auto;
}

.container h1 {
  margin-bottom: 20px;
  color: #333;
}

form {
  width: 300px;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e7e1e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

input {
  padding: 8px 20px;
  margin: 5px 0;
  border: dashed 1px #cdb4db;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: #333;
  transition: all 2s;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
  border: solid 1px #cdb4db;
}

button[type="submit"] {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #cdb4db;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #cdb4db;
}
