{% extends 'base.html' %}

{% load static %}
{% load custom_extra %}

{% block content %} 

    {% for product in products %}
        <form action="{% url 'delete_item_from_cart' %}" method="post" id="delete_form_{{ product.id }}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
        </form>
    {% endfor %}
    
    <div class="m-4">
        <form action="" method="post">
            {{ formset.management_form }}
            {% csrf_token %}
            {% for form in formset %}
                <div class="m-2 p-4 border rounded">
                    {% index products forloop.counter0 as product %}                    
                    <p class="font-semibold mb-2">#{{ product.id }} {{ product.name }}</p>
                    {{ form }}
                    <button class="text-red-400 mt-2 cursor-pointer" form="delete_form_{{ product.id }}">Delete</button>
                </div>
            {% endfor %}
            <input class="px-4 py-1 mt-2 bg-green-200 cursor-pointer" type="submit" value="Order">
        </form>
    </div>
{% endblock %}