
Django>=6.0.2,<7.0
djangorestframework>=3.16.0,<4.0
drf-spectacular>=0.28.0,<1.0

a
PyJWT[crypto]>=2.7.0,<3.0
djangorestframework-simplejwt>=5.5.0,<6.0
argon2-cffi>=21.3.0
cryptography>=40.0.0


celery[redis]>=5.4.0,<6.0
django-redis>=5.4.0,<6.0
redis>=5.0.0,<6.0


openpyxl>=3.1.2,<4.0
reportlab>=4.2.0,<5.0
requests>=2.31.0,<3.0
