{% extends 'index.html' %}

{% block content %}
    <h2 style="text-align: center;">Welcome to Coffee Beans Blog</h2>
    <p style="text-align: center;">This is a simple Django blog project using static data.</p>
    <p style="text-align: center;padding: 10px;margin: 10px 30px;">Coffee beans are the seeds of the coffee plant, harvested from bright red cherries and transformed through careful processing and roasting into the rich, aromatic beans we brew every day. Each bean carries unique flavors shaped by its origin, soil, climate, and roast level—making every cup a story in itself.</p>
    <p style="text-align: center;">Explore the blog posts and enjoy!</p>
{% endblock %}
