{% extends 'base.html' %}

{% block content %}
<div class="post-details-container">
    <h1 class="post-title-details">{{ post.title }}</h1>
    <p class="post-card-user">Written by: {{ post.user }} on {{ post.date_posted }}</p>
    <hr>

    <div class="post-content-details">
        {{ post.content }}
    </div>

    <hr>
    <div class="post-actions">
        <a href="{% url 'update' post.pk %}" class="btn btn-warning">Edit the post</a>
        <a href="{% url 'delete' post.pk %}" class="btn btn-danger">Delete the post</a>
    </div>
</div>
{% endblock content %}