<div class="main-navbar">
    <div class="container main-navbar-container">
        <div class="navbar-links">
            <a href="{% url 'index' %}">About</a>
            <a href="{% url 'list' %}">Posts</a>
        </div>

        <div class="main-logo">
            <div class="logo-circle">&#10046;</div>
            <div class="logo-text">The Blog</div>
        </div>

        <div class="user-actions">
            {% if user.is_authenticated %}
                {{ user.username }}
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn-auth">Logout</button>
                </form>
                <a href="{% url 'create' %}"><button class="btn btn-primary btn-sm">&#43; Create Post</button></a>
            {% else %}
                <a href="{% url 'login' %}"><button class="btn-auth">Login</button></a>
                <a href="{% url 'Signup' %}"><button class="btn-auth">Signup</button></a>
            {% endif %}
        </div>
    </div>
</div>