{% extends "main/base.html" %}

{% block title %}
    U+0600 Register
{% endblock title %}

{% block content %}

    <h1>U+0600 Register</h1>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %} 
        {{ form }}
        <br>
        <input type="submit" value="Register">
    </form>
    <script>
        // Will return 'Africa/Cairo'
        user_timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        timezone_input = document.getElementsByName('timezone')[0];
        timezone_input.value = user_timezone;
    </script>
    
{% endblock %}
